<% provide(:title, "O mne") %>

<h1> O mne </h1>



<h3 class="center"> Autor: Juraj Šimek </h3>

<p class="center">
<br />
Študent na FIIT STU v Bratislave<br />
2. ročník Bc. štúdia<br />
odbor Informatika<br/>

mail: simekjuraj@gmail.com
</p>
