<% provide(:title, "Najlepší používatelia") %>

<h1> Najlepší používatelia </h1>

<div class="row">
  <div class="span6 offset3">

  <% if @achievements.num_tuples == 0 %>
    <div class="alert alert-warning center" style="margin-top: 50px">V systéme nie je evidovaný zjazd pre žiadneho používateľa.</div>
  <% else %>

	  <table class="table table-striped">
    		<% @achievements.each do |achv| %>
          <tr>
            <td> <%= achv["rank"] %>. </td>
            <td> <%= link_to achv["name"], "/users/#{achv["id"]}" %> </td>
            <td> <%= User.wt_sex achv["sex"] %> </td>
            <td> <strong><%= achv["points"] %></strong> </td>
          </tr>
        <% end %>
	  </table>

  <% end %>

  </div>
</div>